<div *ngIf="tutorial">
  <app-tutorial [dashBoard]="dashBoard"></app-tutorial>
</div>
<div *ngIf="!tutorial">
  
  <div class="d-flex justify-content-center">
    <h3>Dashboard</h3>
  </div>
  <div class="row">
    <div class="col-sm-6 row">
      <div class="col-sm-4">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3  text-center">
            <h6 class="m-0 font-weight-bold text-primary">Customer</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body text-center">
            <i class="fas fa-user-alt fa-3x"></i>
            <div>
              <span class="text-primary" style="font-size: 24px">20</span>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3  text-center">
            <h6 class="m-0 font-weight-bold text-primary">Admin</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body text-center">
            <i class="fas fa-user-cog fa-3x"></i>
            <div>
              <span class="text-primary" style="font-size: 24px">1</span>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3  text-center">
            <h6 class="m-0 font-weight-bold text-primary">Product</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body text-center">
            <i class="fas fa-tshirt fa-3x"></i>
            <div>
              <span class="text-primary" style="font-size: 24px">10</span>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3  text-center">
            <h6 class="m-0 font-weight-bold text-primary">Order</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body text-center">
            <i class="fas fa-shopping-cart fa-3x"></i>
            <div>
              <span class="text-primary" style="font-size: 24px">10</span>
            </div>

          </div>
        </div>
      </div>
     
    </div>
    
  </div>


</div>
