
<div class="modal-content" role="document" style="width: 50%; margin-left: 25%">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Admin Detail</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click) = "closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form >
        <div class="form-group">
          <label style="font-weight: bold">Firstname: </label>
          <input class="form-control" name="adminDetail.firstname" [(ngModel)] = "adminDetail.firstname" readonly/> 

          <label style="font-weight: bold">Lastname: </label>
          <input class="form-control" name="adminDetail.lastname" [(ngModel)] = "adminDetail.lastname" readonly/> 

          <label style="font-weight: bold">Username: </label>
          <input class="form-control" name="adminDetail.username" [(ngModel)] = "adminDetail.username" readonly/> 

          <label style="font-weight: bold">Address: </label>
          <input class="form-control" name="adminDetail.address" [(ngModel)] = "adminDetail.address" readonly/> 

          <label style="font-weight: bold">DateCreated: </label>
          <input class="form-control" name="adminDetail.datecreated" [(ngModel)] = "adminDetail.datecreated" readonly/> 



        </div>
        
       
  
  
      </form>
    </div>
    <div class="modal-footer">
      <div class="col-sm-6 d-flex justify-content-end" style="padding: 0px">
        <button name = "adminDetail.status" *ngIf="adminDetail.status == 'active'"  type="button" class="btn btn-danger" (click)="changeStatus(adminDetail.status)"   ><span>Deactive</span></button>
        <button name = "adminDetail.status" *ngIf="adminDetail.status == 'deactive'"  type="button" class="btn btn-info" (click)="changeStatus(adminDetail.status)"   ><span>Active</span></button>
      </div>
    </div>